#root {
  min-height: 100vh;
}

.process-container {
  padding-bottom: 4rem;
  min-height: 70vh;
}

button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  outline: none;
  padding: 0;
}

.btn-more,
.btn-less {
  display: block;
  line-height: 30px;
  max-height: 30px;
  min-height: 30px;
  max-width: 30px;
  min-width: 30px;
}

.btn-pink,
.btn-blue,
.btn-more,
.btn-less {
  background-image: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.btn-pink:disabled,
.btn-blue:disabled,
.btn-more:disabled,
.btn-less:disabled {
  color: #ccc;
}
.btn-pink::before,
.btn-pink::after,
.btn-blue::before,
.btn-blue::after,
.btn-more::before,
.btn-more::after,
.btn-less::before,
.btn-less::after {
  border-radius: 2px;
  bottom: 0;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.btn-pink::after,
.btn-blue::after,
.btn-more::after,
.btn-less::after {
  opacity: 0;
}
.btn-pink:hover::after,
.btn-blue:hover::after,
.btn-more:hover::after,
.btn-less:hover::after {
  opacity: 1;
}
.btn-pink:disabled:hover::after,
.btn-blue:disabled:hover::after,
.btn-more:disabled:hover::after,
.btn-less:disabled:hover::after {
  opacity: 0;
}
.btn-pink::before,
.btn-more::before,
.btn-less::before {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffdadf), to(#ffafba));
  background-image: linear-gradient(100deg, #ffdadf, #ffafba);
}
.btn-blue::before {
  background-image: -webkit-gradient(linear, left top, right top, from(#4b65ff), to(#0025ff));
  background-image: linear-gradient(100deg, #4b65ff, #0025ff);
}
.btn-pink:disabled:before {
  background-image: -webkit-gradient(linear, left top, right top, from(#f2f2f9), to(#eee));
  background-image: linear-gradient(100deg, #f2f2f9, #eee);
}
.btn-blue:disabled::before {
  background-image: -webkit-gradient(linear, left top, right top, from(#f2f2f9), to(#eee));
  background-image: linear-gradient(100deg, #f2f2f9, #eee);
}
.btn-more:disabled:before,
.btn-less:disabled:before {
  background-image: -webkit-gradient(linear, left top, right top, from(#ddd), to(#ddd));
  background-image: linear-gradient(100deg, #ddd, #ddd);
}
.btn-pink::after,
.btn-more::after,
.btn-less::after {
  background-color: #ffafba;
}
.btn-blue::after {
  background-color: #0025ff;
}


.w-tab-content {
  overflow: visible !important;
}

.bubble-corner {
  bottom: 50%;
}

.process-back {
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #0025ff;
}

input:focus+.slider {
  box-shadow: 0 0 1px #0025ff;
}

input:checked+.slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bubble-info-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.type-card {
  height: unset;
  max-width: 18.75rem;
}

.resume-name,
.resume-payment-name,
.resume-payment-address {
  font-size: 14px;
}

.resume-name-stage,
.resume-payment-stage,
.resume-payment-total,
.resume-payment-address {
  color: #4c4b5e;
}

.resume-price-size {
  font-size: 14px;
}

.next-step,
.next-step-payment {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}

.product-card > .input-field {
  width: 100%;
  max-width: calc(100% - 4rem);
}
.product-card > .input-field > .w-embed,
.stage-card > .input-field > .w-embed {
  width: calc(100% - 80px);
}

.stage-quantity,
.product-quantity,
.design-quantity {
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: transparent;
  color: #4c4b5e;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  outline: none;
  width: 100%;
  transition: border-color 0.3s ease;
}
.stage-quantity:focus,
.stage-quantity:hover,
.product-quantity:focus,
.product-quantity:hover,
.design-quantity:focus,
.design-quantity:hover {
  border-color: #ef7748;
}

.stage-card {
  padding: 16px 21px 18px;
}

.stage-card > .input-field {
  width: 100%;
}

.design-grid > .design-card {
  padding-top: 26px;
  padding-right: 64px;
  width: 76%;
}

.design-grid > .design-card > .design-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 33%;
}
.design-grid > .design-card > .stage-selector {
  margin-left: 42px;
  width: calc(67% - 42px);
}
.design-grid > .design-card > .stage-selector > .design-selector {
  width: unset;
}
.design-grid > .design-card > .stage-selector .btn-more,
.design-grid > .design-card > .stage-selector .btn-less {
  line-height: 20px;
  max-height: 20px;
  min-height: 20px;
  max-width: 20px;
  min-width: 20px;
}

.design-card .design-selector .input-field {
  max-width: 100%;
  margin-top: 4px;
  width: 100%;
}
.design-card .design-selector .input-field > .w-embed {
  width: calc(100% - 60px);
}
.design-card .design-selector .input-field > .w-embed > input {
  line-height: 1;
  width: 100%;
}

.design-grid > .design-card > .design-img > .img-container {
  width: 100%;
}
.design-grid > .design-card > .design-img > .img-container > .design-image {
  margin-bottom: 2px;
  margin-top: 13px;
}
.design-grid > .design-card > .design-img > .img-container > .bg-texture {
  height: 100%;
  max-width: 100%;
  top: 0%;
}
.design-grid > .design-card > .design-img > .design-data {
  margin-top: 8px;
  font-size: 12px;
}

.design-quantity {
  background-color: transparent;
  border-color: transparent;
  color: #4c4b5e;
  font-size: 24px;
  font-weight: 800;
  height: 32px;
  text-align: center;
}

.design.single,
.frequency-card {
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
}

.stage-card.single.active,
.stage-card.single:hover,
.design.active,
.design.single:hover,
.frequency-card.active,
.frequency-card:hover {
  border-color: #ef7748;
  cursor: pointer;
}

.radio-button-field .label,
.checkbox-field .label {
  color: #4c4b5e;
  font-weight: 500;
}
.radio-button-field .radio-button,
.checkbox-field .w-checkbox-input {
  width: 24px;
  height: 24px;
}

.payment-card .method {
  transition: border-color 0.3s ease;
}

.payment-card .method:hover {
  border-color: #ef7748;
}